@import "tailwindcss";

@import "@fontsource/roboto-flex";
@import "@fontsource/inter";

@theme {
  --color-lhd-border: #eae8e1;
  --color-lhd-text: #64748b;
  --color-burnt-orange: #bf5700;
  --color-ut-black: #333f48;
}
